{% extends 'education/main.html' %}

{% block content %}
<h1>{{ test.title }}</h1>
<p>{{ test.description }}</p>

<form method="post">
    {% csrf_token %}

    {% for field in form %}
        <fieldset>
            <legend>{{ field.label }}</legend>

            {{ field }}

            {# Отображаем ошибки, если есть #}
            {% if field.errors %}
                <ul class="errorlist">
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </fieldset>
        <br>
    {% endfor %}

    <button type="submit">Завершить тест</button>
</form>

<p><a href="{% url 'education:course_detail' test.course.pk %}">Вернуться к курсу "{{ test.course.title }}"</a></p>
{% endblock %}